@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
}

/* Sidebar Elements Style */
.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */
#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */
@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* Theme Toggler */
.theme-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #FFF;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}

/* Cor da mensagem "Mostrando 0 até 0 de 0 registros" */
.dataTables_info {
    color: #0b2f94 !important;
    font-weight: bold;
}

/* Cor do texto "X registros por página" */
.dataTables_length label {
    color: #0b2f94 !important; 
    font-weight: bold;
}

/* Mudar a cor do texto "Buscar" */
.dataTables_filter label {
    color: #0b2f94 !important; /* Escolha a cor desejada */
    font-weight: bold;
}

/* Mudar a cor dos botões "Anterior" e "Próximo" */
.dataTables_paginate .paginate_button {
    color: #0b2f94 !important; /* Escolha a cor desejada */
    font-weight: bold;
}

/* Mudar a cor do botão quando está desativado */
.dataTables_paginate .paginate_button.disabled {
    color: gray !important;
}

/* Estilização da tela do login */
/* Reset básico */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4223b6, #0a051f);
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}
    
.label-login-container,
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}
        
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline: none;
}

input:focus {
    border-color: #160c3b;
}

#btn-entrar{
    width: 100%;
    padding: 10px; 
    background: #160c3b;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-entrar:hover{
    background: #3e10e4;
}
 
/* Área de arquivo (UPLOAD) */
.upload-container {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}

.upload-box {
    width: 100%;
    padding: 20px;
    border: 2px dashed #3684a8;
    border-radius: 8px;
    background-color: #a6b0be;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-box:hover {
    background-color: #8ec1f0;
}

.upload-box i {
    font-size: 20px;
    margin-right: 10px;
}

/* Ajuste para o texto do nome do arquivo */
.upload-box span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Input de arquivo oculto */
.file-input {
    display: none;
} 

/* Botões de ação */
.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.button-container button {
    flex: 1;
    max-width: 120px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.upload-btn {
    background-color: #007bff;
    color: white;
}

/* Botão de upload desativado */
.upload-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.cancel-btn {
    background-color: #f7594d;
    color: white;
}

.button-container button:hover {
    transform: scale(1.05);
}

#tabela-arquivos th,
#tabela-arquivos td {
    text-align: center;
    vertical-align: middle;
}